<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cloud Land</title>
    <link rel='stylesheet' href='stylesheets/protected.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div id="maindiv">
    <div class="top-container">
        <div class="top">
            <div class="brand">
                <div class="profile-img-container">
                    <img id="userProfileImg" height="30" class="user-profile" src="images/anonymous.svg">
                </div>
                <div class="brand-text">
                    Cloudland
                </div>
            </div>
        </div>
        <h1>Hi <span id="userNameSpan"></span></h1>
        <h2>What do you like to eat?</h2>
        <div class="food-selection-list">
            <a href="/protected?foodItem=pizza">
                <div class="food-selection-item">
                    <div id="food-text-pizza" class="food-selection-text">Pizza</div>
                    <img id="food-image-pizza" class="select-image" src="images/select.png"></div>
            </a>
            <a href="/protected?foodItem=hamburger">
                <div class="food-selection-item">
                    <div id="food-text-hamburger" class="food-selection-text">Hamburger</div>
                    <img id="food-image-hamburger" class="select-image" src="images/select.png"></div>
            </a>
            <a href="/protected?foodItem=salad">
                <div class="food-selection-item">
                    <div id="food-text-salad" class="food-selection-text">Salad</div>
                    <img id="food-image-salad" class="select-image" src="images/select.png"></div>
            </a>
        </div>

        <div class="top-hint-text">
            <% if (!isGuest) { %>
            <span id="topHintSpan"></span>
            <img id="top-image" class="top-image" src="images/pizza.png">
            <% } %>
        </div>

    </div>

    <div class="bottom-container">
        <a href="/token">
            <button class="button">View Token</button>
        </a>
        <a href="/userInfo">
            <button class="button">View User Info</button>
        </a>
        <% if (isGuest) { %>
        <a href="/login">
            <button class="button">Sign in</button>
        </a>
        <% } %>
        <h2><b>Note:</b> <span id="bottomHintText"><%= hintText %></span></h2>
    </div>

    <div class="hide">
        <div id="menu">
            <ul>
                <% if (isGuest) { %>
                <li><a href="/login">Sign in</a></li>
                <% } else { %>
                <% if (isCD) { %>
                <li><a href="/change_details">Account Details</a></li>
                <li><a href="/change_password">Change Password</a></li>
                <% } %>
                <li><a href="/logout">Sign out</a></li>
                <% } %>
            </ul>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>
<script>

    function updateListElements(items) {
        $("#food-image-pizza").attr('style', 'visibility: hidden');
        $("#food-image-hamburger").attr('style', 'visibility: hidden');
        $("#food-image-salad").attr('style', 'visibility: hidden');

        for (var i = 0; i < items.length; i++) {
            $("#food-image-" + items[i]).attr('style', 'visibility: visible');
        }
    }

    var foodSelection = <%- foodSelection %>;
    $("#maindiv").attr('style', 'visibility: visible');
    $('#userNameSpan').html('<%= name %>');
    $('#userProfileImg').attr('src', '<%- picture %>');
    $('#topHintSpan').html('<%= topHintText %>');
    $("#top-image").attr('style', 'visibility: <%= topImageVisible %>');


    var reference = document.querySelector('.profile-img-container');
    tippy(reference, {
        theme: 'light',
        html: document.querySelector('#menu'),
        placement: 'bottom',
        interactive: true,
        arrow: true,
        trigger: 'click'
    })

    updateListElements(foodSelection);
</script>

</body>
</html>
